<template>
    <p>Original</p>
    <template for:each={list1} for:index="index" for:item="item">
        <table>
            <tr>
                <td>{item.item}</td>
                <td>{item.qty}</td>
            </tr>
        </table>
    </template>
    <p>Sorted</p>
    <template for:each={list2} for:index="index" for:item="item">
        <table>
            <tr>
                <td>{item.item}</td>
                <td>{item.qty}</td>
            </tr>
        </table>
    </template>
</template>